<div class="ulockd-home-slider">
    <div class="container-fluid">
       <div class="row">
          <div class="pogoSlider" id="js-main-slider">
             <div class="pogoSlider-slide" style="background-image:url(../../../assets/images/slider_1.jpg);">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slide_text">
                            <h6>Invierte en Crypto</h6>
                            <h4>Digital</h4>
                            <h4>Exchange</h4>
                            <br>
                            <a class="readmore_bt" href="#">Leer más</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="pogoSlider-slide" style="background-image:url(../../../assets/images/slider_2.jpg);">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slide_text">
                            <h6>BlockChain</h6>
                            <h4>Transacci&oacute;n</h4>
                            <h4>Segura</h4>
                            <br>
                            <a class="readmore_bt" href="#">Leer más</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="pogoSlider-slide" style="background-image:url(../../../assets/images/slider_3.jpg);">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slide_text">
                            <h6>Autogesti&oacute;n</h6>
                            <h4>Seguimiento</h4>
                            <h4>Personalizado</h4>
                            <br>
                            <a class="readmore_bt" href="#">Leer más</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          
       </div>
    </div>
 </div>
